---
translationKey: methodology
lang: fr
---
{% extends "layouts/baselayout.html" %}

{% set metaTitle = methodology[locale].title %}
{% set metaDescription = methodology[locale].subTitle %}
{% set metaImage =  site[locale].image %}
{% set namespace = methodology[locale].namespace %}

{% block content %}

<div class="page-section">
    <div class="home-line"></div>
    <h1 data-splitting="words" class="title">{{ methodology[locale].title }}</h1>
    <h2 data-splitting="words" class="subTitle">{{ methodology[locale].subTitle }}</h2>
</div>
<div class="section">
    <div class="line"></div>
    <div class="column">
        <h2 data-splitting="words" class="big-title ">{{ methodology[locale].section1Title }}</h2>
        <div class="big-arrow-up"></div>
    </div>  
    <div class="column">
        <p class="text-animation paragraph small-padding no-padding-top">{{ methodology[locale].section1Item1 | safe}}</p>
        <p class="text-animation paragraph small-padding">{{ methodology[locale].section1Item2 | safe}}</p>
        <ul>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ methodology[locale].section1ListItem1 }}</li>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ methodology[locale].section1ListItem2 }}</li>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ methodology[locale].section1ListItem3 }}</li>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ methodology[locale].section1ListItem4 }}</li>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ methodology[locale].section1ListItem5 }}</li>
        </ul>
        <p class="text-animation paragraph  dark-color ">{{ methodology[locale].section1Item3 }}</p>
    </div>
</div>
<div class="section">
    <div class="line"></div>
    <div class="column">
        <h2 data-splitting="words" class="big-title ">{{ methodology[locale].section2Title }}</h2>
        <div class="big-arrow-up"></div>
    </div>  
    <div class="column">
        <p class="text-animation paragraph small-padding no-padding-top">{{ methodology[locale].section2Item1 | safe}}</p>
        <p class="text-animation paragraph small-padding ">{{ methodology[locale].section2Item2 | safe}}</p>
        <p class="text-animation paragraph small-padding ">{{ methodology[locale].section2Item3 }}</p>
        <p class="text-animation paragraph dark-color ">{{ methodology[locale].section2Item4 }}</p>

    </div>
</div>
<div class="section">
    <div class="line"></div>
    <div class="column">
        <h2 data-splitting="words" class="big-title ">{{ methodology[locale].section3Title }}</h2>
        <div class="big-arrow-up"></div>
    </div>  
    <div class="column">
        <p class="text-animation paragraph small-padding no-padding-top">{{ methodology[locale].section3Item1 | safe}}</p>
        <p class="text-animation paragraph small-padding">{{ methodology[locale].section3Item2 | safe}}</p>
        <p class="text-animation paragraph small-padding">{{ methodology[locale].section3Item3 | safe }}</p>
        <p class="text-animation paragraph small-padding dark-color ">{{ methodology[locale].section3Item4| safe}}</p>
        <p class="text-animation paragraph dark-color">{{ methodology[locale].section3Item5 }}</p>
    </div>
</div>


{% endblock %}

