---
translationKey: services
lang: fr
---
{% extends "layouts/baselayout.html" %}

{% set metaTitle = services[locale].title %}
{% set metaDescription = services[locale].subTitle %}
{% set metaImage =  services[locale].image %}
{% set namespace = services[locale].namespace %}

{% block content %}

<div class="page-section">
    <div class="home-line"></div>
    <h1 data-splitting="words" class="title">{{ services[locale].title }}</h1>
    <h2 data-splitting="words" class="subTitle">{{ services[locale].subTitle }}</h2>
</div>
<div class="section">
    <div class="line"></div>
    <div class="column">
        <h2 data-splitting="words" class="section-title">{{ services[locale].section1Title }}</h2>
    </div>  
    <div class="column">
        <ul class="big-list">
            <li class ="arrow"><div class ="arrow-icon"></div>{{ services[locale].section1Item1 }}</li>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ services[locale].section1Item2 }}</li>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ services[locale].section1Item3 }}</li>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ services[locale].section1Item4 }}</li>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ services[locale].section1Item5 }}</li>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ services[locale].section1Item6 }}</li>
        </ul>
    </div>
</div>
<div class="section image-section">
    <div class="line"></div>
    {% image services[locale].image, services[locale].imageDescription, "(max-width: 57em) 100vw, 100vw", "lazy", "image smartphone-size" %}
</div>
<div class="section">
    <div class="line"></div>
    <div class="column">
        <h2 data-splitting="words" class="section-title">{{ services[locale].section2Title }}</h2>
        <p class="text-animation paragraph small-padding">{{ services[locale].section2Content1 | safe}}</p>
        <ul>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ services[locale].section2listItem1 }}</li>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ services[locale].section2listItem2 }}</li>
        </ul>
        <p class="text-animation paragraph no-padding-top">{{ services[locale].section2Content2 }}</p>

    </div> 
    <div class="column">
        <h2 data-splitting="words" class="section-title">{{ services[locale].section3Title }}</h2>
        <p class="text-animation paragraph">{{ services[locale].section3Content | safe }}</p>
    </div>
</div>

{% endblock %}

