---
translationKey: team
lang: fr
---
{% extends "layouts/baselayout.html" %}

{% set metaTitle = team[locale].title %}
{% set metaDescription = team[locale].subTitle %}
{% set metaImage =  team[locale].image %}
{% set namespace = team[locale].namespace %}

{% block content %}

<div class="section">
    <div class="home-line"></div>
    <div class="column">
        <h1 data-splitting="words" class="title">{{ team[locale].title }}</h1>
        <h2 data-splitting="words" class="subTitle">{{ team[locale].subTitle | safe}}</h2>
    </div>  
    <div class="column">
        {% image team[locale].image, team[locale].imageDescription, "(max-width: 57em) 50vw, 100vw", "lazy", "head-image" %}
    </div>  
</div>
<div class="section section-fit list-section">
    <div class="line"></div>
    <div class="column  ">
        <h2 data-splitting="words" class="section-title list-title">{{ team[locale].section1Title }}</h2>
        <ul>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ team[locale].section1ListItem1 }}</li>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ team[locale].section1ListItem2 }}</li>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ team[locale].section1ListItem3 }}</li>
        </ul>
    </div>  
    <div class="column switch-1">
        <h2 data-splitting="words" class="section-title list-title">{{ team[locale].section3Title }}</h2>
        <ul>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ team[locale].section3ListItem1 }}</li>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ team[locale].section3ListItem2 }}</li>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ team[locale].section3ListItem3 }}</li>
        </ul>
    </div>  
    <div class="column switch-2">
        <h2 data-splitting="words" class="section-title list-title">{{ team[locale].section2Title }}</h2>
        <ul>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ team[locale].section2ListItem1 }}</li>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ team[locale].section2ListItem2 }}</li>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ team[locale].section2ListItem3 }}</li>
            <li class ="arrow"><div class ="arrow-icon"></div>{{ team[locale].section2ListItem4 }}</li>

        </ul>
    </div>
</div>


{% endblock %}




