---
translationKey: company
lang: fr
---
{% extends "layouts/baselayout.html" %}
        
{% set metaTitle = company[locale].title %}
{% set metaDescription = company[locale].subTitle %}
{% set metaImage =  company[locale].image1 %}
{% set namespace = company[locale].namespace %}

{% block content %}

<div class="page-section">
    <div class="home-line"></div>
    <h1 data-splitting="words" class="title">{{ company[locale].title }}</h1>
    <h2 data-splitting="words" class="subTitle">{{ company[locale].subTitle }}</h2>
</div>
<div class="section section-fit">
    <div class="line"></div>
    <div class="column">
        <h2 data-splitting="words" class="section-title">{{ company[locale].section1Title }}</h2>
        <p class="text-animation paragraph small-padding">{{ company[locale].section1Item1 }}</p>
        <p class="text-animation paragraph small-padding">{{ company[locale].section1Item2 }}</p>
        <p class="text-animation paragraph small-padding">{{ company[locale].section1Item3 }}</p>
        <p class="text-animation paragraph small-padding">{{ company[locale].section1Item4 }}</p>
        <p class="text-animation paragraph">{{ company[locale].section1Item5 }}</p>
    </div> 
    <div class="column switch-1">
        <h2 data-splitting="words" class="section-title">{{ company[locale].section2Title }}</h2>
        <p class="text-animation paragraph small-padding">{{ company[locale].section2Item1 }}</p>
        <p class="text-animation paragraph">{{ company[locale].section2Item2 }}</p>
    </div>   
    <div class="column switch-2">

        {% image company[locale].image1, company[locale].imageDescription1, "(max-width: 57em) 100vw, 100vw", "lazy", "image" %}


    </div>
    <div class="column">

        {% image company[locale].image2, company[locale].imageDescription2, "(max-width: 57em) 100vw, 100vw", "lazy", "image smartphone-size" %}

    </div>
</div>

{% endblock %}


