---
translationKey: links
lang: en
---
{% extends "layouts/baselayout.html" %}

{% set metaImage = site[locale].image1 %}
{% set metaTitle = site[locale].title %}
{% set metaDescription = site[locale].subTitle %}
{% set namespace = links[locale].namespace %}

{% block content %}
<div class="section">
    <div class="line"></div>
    <div class="column">
        <h2 data-splitting="words" class="section-title">{{ links[locale].title }}</h2>
    </div>  
    <div class="column">
        <ul class="big-list">
            <li class ="arrow"><div class ="arrow-icon"></div><a href="{{ links[locale].url1 }}">{{ links[locale].Item1 }}</a></li>
            <li class ="arrow"><div class ="arrow-icon"></div><a href="{{ links[locale].url2 }}">{{ links[locale].Item2 }}</a></li>
            <li class ="arrow"><div class ="arrow-icon"></div><a href="{{ links[locale].url3 }}">{{ links[locale].Item3 }}</a></li>
            <li class ="arrow"><div class ="arrow-icon"></div><a href="{{ links[locale].url4 }}">{{ links[locale].Item4 }}</a></li>
            <li class ="arrow"><div class ="arrow-icon"></div><a href="{{ links[locale].url5 }}">{{ links[locale].Item5 }}</a></li>
            <li class ="arrow"><div class ="arrow-icon"></div><a href="{{ links[locale].url6 }}">{{ links[locale].Item6 }}</a></li>
            <li class ="arrow"><div class ="arrow-icon"></div><a href="{{ links[locale].url7 }}">{{ links[locale].Item7 }}</a></li>

        </ul>
    </div>
</div>

{% endblock %}
