<ul id="faq" data-visible="false" class="accordion">

  {% for item in faq[locale] %}

    {% if item.title and item.content %}
    
    <div class="section section-faq">
      <li class="accordion-panel">
        <h3 id="panel1-title">
          <button class="accordion-trigger" aria-expanded="false" aria-controls="accordion1-content">
            {{ item.title }}
          </button>
        </h3>
        <div class="accordion-content" role="region" aria-labelledby="panel1-title" aria-hidden="true" id="panel1-content">
          <div>
            <p>{{ item.content | safe }}</p>
          </div>
        </div>
        <div class="line"></div>
      </li>
    </div>

    {% endif %}

  {% endfor %}

</ul>
